@{
    ViewData["Title"] = "Configuration Settings used when communicating with Spring Cloud Config Server";
}
<h2>@ViewData["Title"]</h2>

<h4>Property Enabled=@ViewData["Enabled"]</h4>
<h4>Property Environment=@ViewData["Environment"]</h4>
<h4>Property FailFast=@ViewData["FailFast"]</h4>
<h4>Property Name=@ViewData["Name"]</h4>
<h4>Property Label=@ViewData["Label"]</h4>
<h4>Property Username=@ViewData["Username"]</h4>
<h4>Property Password=@ViewData["Password"]</h4>
<h4>Property AccessTokenUir=@ViewData["AccessTokenUri"]</h4>
<h4>Property ClientId=@ViewData["ClientId"]</h4>
<h4>Property ClientSecret=@ViewData["ClientSecret"]</h4>
