trigger:
  branches:
    include:
    - main
    - release/*
  paths:
    exclude:
    - README.md
    - roadmaps/*

jobs:
- job: Steeltoe_CI
  timeoutInMinutes: 60
  variables:
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    DOTNET_CLI_TELEMETRY_OPTOUT: 1
  strategy:
    matrix:
      Linux:
        imageName: ubuntu-latest
        skipFilter: '--filter "Category!=SkipOnLinux"'
        sonarAnalyze: true
        integrationTests: true
      MacOS:
        imageName: macOS-latest
        skipFilter: '--filter "Category!=Integration&Category!=SkipOnMacOS"'
      Windows:
        imageName: windows-latest
        skipFilter: '--filter "Category!=Integration"'
        package: true
  pool:
    vmImage: $(imageName)
  steps:
  - task: UseDotNet@2
    displayName: Install .NET 6
    inputs:
      version: 6.0.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: src/Steeltoe.All.sln
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: SonarCloudPrepare@1
    condition: eq(variables['sonarAnalyze'], 'true')
    displayName: Prepare analysis on SonarCloud
    inputs:
      SonarCloud: SonarCloud
      organization: steeltoeoss
      projectKey: SteeltoeOSS_steeltoe
      extraProperties: |
          sonar.cs.opencover.reportsPaths=$(Build.SourcesDirectory)/**/*opencover.xml
          sonar.cs.vstest.reportsPaths=$(Build.SourcesDirectory)/*.trx
          sonar.exclusions=$(Build.SourcesDirectory)/src/Management/src/Diagnostics*
          sonar.coverage.exclusions=**/test/**/*
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      command: build
      projects: src/Steeltoe.All.sln
      arguments: --no-restore -c $(buildConfiguration) -v n
  - script: |
      docker run -d --name configserver -p 8888:8888 steeltoeoss/config-server --spring.cloud.config.server.git.default-label=main
      docker run -d --name rabbitmq -p 5672:5672 -p 15672:15672 rabbitmq:3-management
    condition: eq(variables['integrationTests'], 'true')
    displayName: Start Docker services
  - task: DotNetCoreCLI@2
    displayName: dotnet test 6.0
    inputs:
      command: test
      projects: '**/*.csproj'
      arguments: '--blame-hang-timeout 3m -f net6.0 --no-build -c $(buildConfiguration) -maxcpucount:1 $(skipFilter) --collect "XPlat Code Coverage" --settings coverlet.runsettings --logger trx --results-directory $(Build.SourcesDirectory)'
      publishTestResults: false
  - task: CopyFiles@2
    condition: failed()
    inputs:
      contents: $(Build.SourcesDirectory)/**/*.dmp
      targetFolder: $(Build.ArtifactStagingDirectory)/hangdumps
  - publish: $(Build.ArtifactStagingDirectory)/hangdumps
    condition: failed()
    displayName: Publish test result files if tests fail
    artifact: FailedTestOutput-$(Agent.JobName)
  - script: |
      docker kill configserver
      docker rm configserver
      docker kill rabbitmq
      docker rm rabbitmq
    condition: eq(variables['integrationTests'], 'true')
    displayName: Stop Docker services
  - task: PublishTestResults@2
    condition: succeededOrFailed()
    displayName: Publish test results
    inputs:
      testResultsFormat: VSTest
      testResultsFiles: '*.trx'
      mergeTestResults: true
  - task: Palmmedia.reportgenerator.reportgenerator-build-release-task.reportgenerator@4
    condition: and(succeededOrFailed(), or(eq(variables['Agent.OS'], 'Windows_NT'), eq(variables['integrationTests'], 'true')))
    displayName: Consolidate coverage for this job
    inputs:
      reports: $(Build.SourcesDirectory)/**/*opencover.xml
      targetdir: $(Build.ArtifactStagingDirectory)/CodeCoverage/$(Agent.JobName)
      reporttypes: Cobertura
  - publish: $(Build.ArtifactStagingDirectory)/CodeCoverage/$(Agent.JobName)
    condition: and(succeeded(), or(eq(variables['Agent.OS'], 'Windows_NT'), eq(variables['integrationTests'], 'true')))
    displayName: Publish code coverage artifacts
    artifact: coverageResults-$(Agent.JobName)
  - task: SonarCloudAnalyze@1
    condition: and(succeededOrFailed(), eq(variables['sonarAnalyze'], 'true'))
    displayName: Run code analysis
  - task: SonarCloudPublish@1
    condition: and(succeededOrFailed(), eq(variables['sonarAnalyze'], 'true'))
    displayName: Publish quality gate result
- job: Wrap_up
  dependsOn:
  - Steeltoe_CI
  pool:
    vmImage: ubuntu-latest
  steps:
  - download: current
    artifact: coverageResults-Steeltoe_CI Linux
    condition: succeededOrFailed()
    displayName: Download test coverage results from Linux
    continueOnError: true
  - download: current
    artifact: coverageResults-Steeltoe_CI Windows
    condition: succeededOrFailed()
    displayName: Download test coverage results from Windows
    continueOnError: true
  - task: Palmmedia.reportgenerator.reportgenerator-build-release-task.reportgenerator@4
    condition: succeededOrFailed()
    displayName: Consolidate code coverage results
    inputs:
      reports: $(Pipeline.Workspace)/**/Cobertura.xml
      targetdir: $(Build.ArtifactStagingDirectory)/CodeCoverage
      reporttypes: Cobertura
  - task: PublishCodeCoverageResults@1
    condition: succeededOrFailed()
    displayName: Publish code coverage to Azure DevOps
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: $(Build.ArtifactStagingDirectory)/CodeCoverage/Cobertura.xml
