# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core
trigger:
  branches:
    include:
    - master
    - 2.x
  paths:
    exclude:
    - README.md
    - project-docs/*
    - roadmaps/*

variables:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  PackageVersion: $[format('2.5.0-ci{0}', variables['Build.BuildId'])]

jobs:
- job: Linux_Build_and_Test
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - task: PowerShell@2
    displayName: 'Get GemFire NativeClient assemblies'
    inputs:
      filePath: src/Connectors/EnableGemFire.ps1
      arguments: $(PivNetAPIToken)
  - task: UseDotNet@2
    displayName: 'Install .NET Core 2.x SDK'
    inputs:
      packageType: sdk
      version: 2.1.806
  - task: UseDotNet@2
    displayName: 'Install .NET Core 3.x SDK'
    inputs:
      packageType: sdk
      version: 3.1.300
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: 'src/Steeltoe.All.sln'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      command: build
      projects: 'src/Steeltoe.All.sln'
      arguments: '--no-restore -c $(buildConfiguration) -v n /p:TreatWarningsAsErrors=True'
  - task: DotNetCoreCLI@2
    displayName: dotnet test
    inputs:
      command: test
      projects: '**/*.Test/*.csproj'
      arguments: '--no-build -c $(buildConfiguration) -maxcpucount:1 --filter "Category!=SkipOnLinux"'
- job: MacOS_Build_and_Test
  pool:
    vmImage: 'macOS-latest'
  steps:
  - task: PowerShell@2
    displayName: 'Get GemFire NativeClient assemblies'
    inputs:
      filePath: src/Connectors/EnableGemFire.ps1
      arguments: $(PivNetAPIToken)
  - task: UseDotNet@2
    displayName: 'Install .NET Core 2.x SDK'
    inputs:
      packageType: sdk
      version: 2.1.806
  - task: UseDotNet@2
    displayName: 'Install .NET Core 3.x SDK'
    inputs:
      packageType: sdk
      version: 3.1.300
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: 'src/Steeltoe.All.sln'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      command: build
      projects: 'src/Steeltoe.All.sln'
      arguments: '--no-restore -c $(buildConfiguration) -v n /p:TreatWarningsAsErrors=True'
  - task: DotNetCoreCLI@2
    displayName: dotnet test
    inputs:
      command: test
      projects: '**/*.Test/*.csproj'
      arguments: '--no-build -c $(buildConfiguration) -maxcpucount:1 --filter "Category!=SkipOnMacOS"'
- job: Windows_Build_Test_and_Package
  timeoutInMinutes: 90
  pool:
    vmImage: 'windows-latest'
  steps:
  - pwsh: |
      if ($env:PackageVersionOverride){
          $env:PackageVersion = $env:PackageVersionOverride
      }
      Write-Host "##vso[build.updatebuildnumber]$env:PackageVersion"
      Write-Host "##vso[task.setvariable variable=PackageVersion;]$env:PackageVersion"
      $prefix = $env:PackageVersion.Split('-')[0]
      $suffix = $env:PackageVersion.Split('-')[1]
      Write-Host "##vso[task.setvariable variable=VersionPrefix;]$prefix"
      Write-Host "##vso[task.setvariable variable=VersionSuffix;]$suffix"
    displayName: Set Build Variables
    env:
      PackageVersion: $(PackageVersion)
      PackageVersionOverride: $(PackageVersionOverride)
  - task: PowerShell@2
    displayName: 'Get GemFire NativeClient assemblies'
    inputs:
      filePath: src/Connectors/EnableGemFire.ps1
      arguments: $(PivNetAPIToken)
  - task: UseDotNet@2
    displayName: 'Install .NET Core 2.x SDK'
    inputs:
      packageType: sdk
      version: 2.1.806
  - task: UseDotNet@2
    displayName: 'Install .NET Core 3.x SDK'
    inputs:
      packageType: sdk
      version: 3.1.300
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: 'restore'
      projects: 'src/Steeltoe.All.sln'
  - task: SonarSource.sonarcloud.14d9cde6-c1da-4d55-aa01-2965cd301255.SonarCloudPrepare@1
    displayName: 'Prepare analysis on SonarCloud'
    inputs:
      SonarCloud: SonarCloud
      organization: 'steeltoeoss'
      projectKey: 'SteeltoeOSS_steeltoe'
      extraProperties: |
        sonar.cs.opencover.reportsPaths=$(Build.SourcesDirectory)\**\*opencover.xml
        sonar.cs.vstest.reportsPaths=$(Agent.TempDirectory)\*.trx
        sonar.exclusions=$(Build.SourcesDirectory)\src\Management\OpenCensus*
        sonar.coverage.exclusions=**/*Test*/**/*
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      command: 'build'
      feedsToUse: 'select'
      arguments: '--no-restore -c $(buildConfiguration) /p:VersionPrefix=$(VersionPrefix) /p:VersionSuffix=$(VersionSuffix)'
      projects: 'src/Steeltoe.All.sln'
      versioningScheme: 'byEnvVar'
      versionEnvVar: PackageVersion
  - task: DotNetCoreCLI@2
    displayName: dotnet test
    inputs:
      command: test
      projects: 'src/Steeltoe.All.sln'
      arguments: '--no-build -c $(buildConfiguration) -maxcpucount:1 /p:CopyLocalLockFileAssemblies=true --filter "Category!=Integration" /p:CollectCoverage=true /p:CoverletOutputFormat="opencover" /p:Include="[Steeltoe.*]*" /p:Exclude="[*.Test*]*%2c[*]Microsoft.Diagnostics*"'
  # Generate the report using ReportGenerator (https://github.com/danielpalme/ReportGenerator)
  # First install the tool on the machine, then run it
  - pwsh: dotnet tool install -g dotnet-reportgenerator-globaltool; reportgenerator "-reports:**\*.opencover.xml" "-targetdir:$(Build.SourcesDirectory)\CodeCoverage" -reporttypes:Cobertura
    displayName: Create Code coverage report
    condition: always()
  # Publish the code coverage result (summary and web site)
  # The summary allows to view the coverage percentage in the summary tab
  # The web site allows to view which lines are covered directly in Azure Pipeline
  - task: PublishCodeCoverageResults@1
    displayName: 'Publish code coverage'
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(Build.SourcesDirectory)\CodeCoverage\Cobertura.xml'
      reportDirectory: '$(Build.SourcesDirectory)\CodeCoverage'
    condition: always()
  - pwsh: choco install codecov --no-progress; codecov -f "$(Build.SourcesDirectory)\CodeCoverage\Cobertura.xml" -t $env:CodeCovToken
    env:
      CodeCovToken: $(CodeCovToken)
    displayName: Install and Run CodeCov
    condition: always()
  - task: SonarSource.sonarcloud.ce096e50-6155-4de8-8800-4221aaeed4a1.SonarCloudAnalyze@1
    displayName: Run Code Analysis
    condition: always()
  - task: SonarSource.sonarcloud.38b27399-a642-40af-bb7d-9971f69712e8.SonarCloudPublish@1
    displayName: Publish Quality Gate Result
    condition: always()
  - task: DotNetCoreCLI@2
    displayName: dotnet pack
    inputs:
      command: 'pack'
      feedsToUse: 'select'
      packagesToPack: 'src/Steeltoe.All.sln'
      versioningScheme: 'byEnvVar'
      versionEnvVar: PackageVersion
  - task: PowerShell@2
    displayName: Authenticode Sign Packages
    inputs:
      filePath: build/sign-packages.ps1
    env:
      SignClientUser: $(SignClientUser)
      SignClientSecret: $(SignClientSecret)
      ArtifactDirectory: $(Build.ArtifactStagingDirectory)
    condition: and(succeeded(), not(eq(variables['build.reason'], 'PullRequest')), not(eq(variables['SignClientSecret'], '')), not(eq(variables['SignClientUser'], '')))
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: $(Build.ArtifactStagingDirectory)
      ArtifactName: Packages
      publishLocation: Container
    condition: always()
