trigger:
  branches:
    include:
    - main
  paths:
    exclude:
    - README.md
    - build/*
    - project-docs/*
    - roadmaps/*
pr:
- main

jobs:
- job: Steeltoe_CI
  timeoutInMinutes: 90
  variables:
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    DOTNET_CLI_TELEMETRY_OPTOUT: 1
    PackageVersion: $[format('3.2.0-{0}', variables['Build.BuildId'])]
  strategy:
    matrix:
      Linux:
        imageName: ubuntu-latest
        skipFilter: '--filter "Category!=SkipOnLinux"'
        sonarAnalyze: true
        integrationTests: true
      MacOS:
        imageName: macOS-latest
        skipFilter: '--filter "Category!=Integration&Category!=SkipOnMacOS"'
      Windows:
        imageName: windows-latest
        skipFilter: '--filter "Category!=Integration"'
        package: true
  pool:
    vmImage: $(imageName)
  steps:
  - pwsh: |
      if ($env:PackageVersionOverride) {
          $env:PackageVersion = $env:PackageVersionOverride
      }
      Write-Host "##vso[build.updatebuildnumber]$env:PackageVersion"
      Write-Host "##vso[task.setvariable variable=PackageVersion;]$env:PackageVersion"
      $prefix = $env:PackageVersion.Split('-')[0]
      $suffix = $env:PackageVersion.Split('-')[1]
      Write-Host "##vso[task.setvariable variable=VersionPrefix;]$prefix"
      Write-Host "##vso[task.setvariable variable=VersionSuffix;]$suffix"
    displayName: Set build variables
    env:
      PackageVersion: $(PackageVersion)
      PackageVersionOverride: $(PackageVersionOverride)
  - task: UseDotNet@2
    displayName: Install .NET Core 3.1
    inputs:
      version: 3.1.x
  - task: UseDotNet@2
    displayName: Install .NET 6
    inputs:
      version: 6.0.x
      includePreviewVersions: true
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: src/Steeltoe.All.sln
      feedsToUse: config
      nugetConfigPath: nuget.config
  - task: SonarCloudPrepare@1
    condition: eq(variables['sonarAnalyze'], 'true')
    displayName: Prepare analysis on SonarCloud
    inputs:
      SonarCloud: SonarCloud
      organization: steeltoeoss
      projectKey: SteeltoeOSS_steeltoe
      extraProperties: |
          sonar.cs.opencover.reportsPaths=$(Build.SourcesDirectory)/**/*opencover.xml
          sonar.cs.vstest.reportsPaths=$(Build.SourcesDirectory)/*.trx
          sonar.exclusions=$(Build.SourcesDirectory)/src/Management/src/Diagnostics*
          sonar.coverage.exclusions=**/test/**/*
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      command: build
      projects: src/Steeltoe.All.sln
      arguments: '--no-restore -c $(buildConfiguration) -v n /p:TreatWarningsAsErrors=True /p:VersionPrefix=$(VersionPrefix) /p:VersionSuffix=$(VersionSuffix)'
  - script: |
      docker run -d --name configserver -p 8888:8888 steeltoeoss/config-server --spring.cloud.config.server.git.default-label=main
      docker run -d --name rabbitmq -p 5672:5672 -p 15672:15672 rabbitmq:3-management
    condition: eq(variables['integrationTests'], 'true')
    displayName: Start Docker services
  - task: DotNetCoreCLI@2
    displayName: dotnet test
    inputs:
      command: test
      projects: src/Steeltoe.All.sln
      arguments: '--blame-hang-timeout 3m --no-build -c $(buildConfiguration) -maxcpucount:1 $(skipFilter) --collect "XPlat Code Coverage" --settings coverlet.runsettings --logger trx --results-directory $(Build.SourcesDirectory)'
      publishTestResults: false
  - script: |
      docker kill configserver
      docker rm configserver
      docker kill rabbitmq
      docker rm rabbitmq
    condition: eq(variables['integrationTests'], 'true')
    displayName: Stop Docker services
  - task: PublishTestResults@2
    condition: succeededOrFailed()
    displayName: Publish test results
    inputs:
      testResultsFormat: VSTest
      testResultsFiles: '*.trx'
      mergeTestResults: true
  - task: Palmmedia.reportgenerator.reportgenerator-build-release-task.reportgenerator@4
    condition: and(succeededOrFailed(), or(eq(variables['Agent.OS'], 'Windows_NT'), eq(variables['integrationTests'], 'true')))
    displayName: Consolidate coverage for this job
    inputs:
      reports: $(Build.SourcesDirectory)/**/*opencover.xml
      targetdir: $(Build.ArtifactStagingDirectory)/CodeCoverage/$(Agent.JobName)
      reporttypes: Cobertura
  - publish: $(Build.ArtifactStagingDirectory)/CodeCoverage/$(Agent.JobName)
    condition: and(succeeded(), or(eq(variables['Agent.OS'], 'Windows_NT'), eq(variables['integrationTests'], 'true')))
    displayName: Publish code coverage artifacts
    artifact: coverageResults-$(Agent.JobName)
  - task: SonarCloudAnalyze@1
    condition: and(succeededOrFailed(), eq(variables['sonarAnalyze'], 'true'))
    displayName: Run code analysis
  - task: SonarCloudPublish@1
    condition: and(succeededOrFailed(), eq(variables['sonarAnalyze'], 'true'))
    displayName: Publish quality gate result
  - task: DotNetCoreCLI@2
    condition: eq(variables['package'], 'true')
    displayName: dotnet pack
    inputs:
      command: pack
      feedsToUse: select
      packagesToPack: src/Steeltoe.All.sln
      packDirectory: $(Build.ArtifactStagingDirectory)/packages
      versioningScheme: byEnvVar
      versionEnvVar: PackageVersion
      nobuild: true
  - task: PowerShell@2
    condition: and(succeeded(), not(eq(variables['build.reason'], 'PullRequest')), eq(variables['package'], 'true'))
    displayName: Authenticode sign packages
    inputs:
      filePath: build/sign-packages.ps1
    env:
      SignClientUser: $(SignClientUser)
      SignClientSecret: $(SignClientSecret)
      ArtifactDirectory: $(Build.ArtifactStagingDirectory)/packages
  - publish: $(Build.ArtifactStagingDirectory)/packages
    condition: and(succeeded(), eq(variables['package'], 'true'))
    displayName: Publish build artifacts
    artifact: Packages
  - bash: bash <(curl -s https://codecov.io/bash)
    displayName: Upload to codecov.io
    condition: and(succeeded(), or(eq(variables['Agent.OS'], 'Windows_NT'), eq(variables['integrationTests'], 'true')))
- job: Wrap_up
  dependsOn:
  - Steeltoe_CI
  pool:
    vmImage: ubuntu-latest
  steps:
  - download: current
    artifact: coverageResults-Steeltoe_CI Linux
    condition: succeededOrFailed()
    displayName: Download test coverage results from Linux
    continueOnError: true
  - download: current
    artifact: coverageResults-Steeltoe_CI Windows
    condition: succeededOrFailed()
    displayName: Download test coverage results from Windows
    continueOnError: true
  - task: Palmmedia.reportgenerator.reportgenerator-build-release-task.reportgenerator@4
    condition: succeededOrFailed()
    displayName: Consolidate code coverage results
    inputs:
      reports: $(Pipeline.Workspace)/**/Cobertura.xml
      targetdir: $(Build.ArtifactStagingDirectory)/CodeCoverage
      reporttypes: Cobertura
  - task: PublishCodeCoverageResults@1
    condition: succeededOrFailed()
    displayName: Publish code coverage to Azure DevOps
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: $(Build.ArtifactStagingDirectory)/CodeCoverage/Cobertura.xml
