<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Format>coverage</Format>
  <CodeCoverage>
    <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
    <EnableStaticNativeInstrumentation>True</EnableStaticNativeInstrumentation>
    <ModulePaths>
      <Exclude>
        <ModulePath>.*ConfigurationSchemaGenerator.*</ModulePath>
      </Exclude>
    </ModulePaths>
    <Attributes>
      <Exclude>
        <Attribute>^System\.ObsoleteAttribute$</Attribute>
        <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
        <Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>
        <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
      </Exclude>
    </Attributes>
    <Sources>
      <Exclude>
        <Source>.*\\test\\.*</Source>
      </Exclude>
    </Sources>
  </CodeCoverage>
</Configuration>