<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <!--
    This file format is documented at https://github.com/microsoft/codecoverage/blob/main/docs/configuration.md.
    CAUTION: Microsoft Testing Platform uses different defaults, see https://learn.microsoft.com/en-us/dotnet/core/testing/microsoft-testing-platform-extensions-code-coverage.
    -->
  <Format>cobertura</Format>
  <!--
    Deterministic paths are turned off for Sonar, because it fails to report coverage otherwise.
    <DeterministicReport>true</DeterministicReport>
    -->
  <CodeCoverage>
    <ModulePaths>
      <Exclude>
        <ModulePath>.*ConfigurationSchemaGenerator.*</ModulePath>
      </Exclude>
    </ModulePaths>
    <Attributes>
      <Exclude>
        <Attribute>^System\.ObsoleteAttribute$</Attribute>
        <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
        <Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>
        <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
      </Exclude>
    </Attributes>
    <Sources>
      <Exclude>
        <Source>.*\\test\\.*</Source>
      </Exclude>
    </Sources>
  </CodeCoverage>
</Configuration>
