<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Steeltoe Debug" Description="Code quality rules for Steeltoe debug builds" ToolsVersion="17.0">
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S107" Action="Info" />
    <Rule Id="S1075" Action="None" />
    <Rule Id="S108" Action="Info" />
    <Rule Id="S110" Action="Warning" />
    <Rule Id="S1104" Action="Info" />
    <Rule Id="S1135" Action="Info" />
    <Rule Id="S1151" Action="Warning" />
    <Rule Id="S1168" Action="Info" />
    <Rule Id="S1172" Action="Info" />
    <Rule Id="S1185" Action="Info" />
    <Rule Id="S1186" Action="None" />
    <Rule Id="S1244" Action="Warning" />
    <Rule Id="S125" Action="Info" />
    <Rule Id="S1479" Action="Warning" />
    <Rule Id="S1481" Action="Info" />
    <Rule Id="S1659" Action="Warning" />
    <Rule Id="S1698" Action="Warning" />
    <Rule Id="S1821" Action="Warning" />
    <Rule Id="S1854" Action="Info" />
    <Rule Id="S1858" Action="Warning" />
    <Rule Id="S1994" Action="Warning" />
    <Rule Id="S2148" Action="Warning" />
    <Rule Id="S2156" Action="Warning" />
    <Rule Id="S2187" Action="None" />
    <Rule Id="S2292" Action="Info" />
    <Rule Id="S2327" Action="Warning" />
    <Rule Id="S2342" Action="Warning" />
    <Rule Id="S2387" Action="Warning" />
    <Rule Id="S2437" Action="Warning" />
    <Rule Id="S2583" Action="Info" />
    <Rule Id="S2589" Action="Info" />
    <Rule Id="S2674" Action="Warning" />
    <Rule Id="S2699" Action="Info" />
    <Rule Id="S2737" Action="Info" />
    <Rule Id="S3011" Action="None" />
    <Rule Id="S3052" Action="Warning" />
    <Rule Id="S3241" Action="Info" />
    <Rule Id="S3253" Action="Info" />
    <Rule Id="S3267" Action="None" />
    <Rule Id="S3433" Action="None" />
    <Rule Id="S3459" Action="Info" />
    <Rule Id="S3597" Action="None" />
    <Rule Id="S3598" Action="None" />
    <Rule Id="S3776" Action="Info" />
    <Rule Id="S3884" Action="None" />
    <Rule Id="S3889" Action="None" />
    <Rule Id="S3908" Action="Warning" />
    <Rule Id="S3925" Action="None" />
    <Rule Id="S3926" Action="None" />
    <Rule Id="S3927" Action="None" />
    <Rule Id="S3928" Action="Info" />
    <Rule Id="S3937" Action="Warning" />
    <Rule Id="S3998" Action="None" />
    <Rule Id="S4022" Action="Warning" />
    <Rule Id="S4061" Action="None" />
    <Rule Id="S4159" Action="None" />
    <Rule Id="S4210" Action="None" />
    <Rule Id="S4211" Action="None" />
    <Rule Id="S4225" Action="Warning" />
    <Rule Id="S4260" Action="None" />
    <Rule Id="S4277" Action="None" />
    <Rule Id="S4428" Action="None" />
    <Rule Id="S4433" Action="None" />
    <Rule Id="S4583" Action="None" />
    <Rule Id="S5773" Action="None" />
    <Rule Id="S881" Action="Warning" />
    <Rule Id="S927" Action="Info" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>