<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Steeltoe Release" Description="Code quality rules for Steeltoe release builds" ToolsVersion="17.0">
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S100" Action="Warning" />
    <Rule Id="S1067" Action="Warning" />
    <Rule Id="S1075" Action="None" />
    <Rule Id="S110" Action="Warning" />
    <Rule Id="S1104" Action="None" />
    <Rule Id="S1135" Action="None" />
    <Rule Id="S1144" Action="Warning" />
    <Rule Id="S1151" Action="Warning" />
    <Rule Id="S1186" Action="None" />
    <Rule Id="S1244" Action="Warning" />
    <Rule Id="S125" Action="None" />
    <Rule Id="S1479" Action="Warning" />
    <Rule Id="S1659" Action="Warning" />
    <Rule Id="S1698" Action="Warning" />
    <Rule Id="S1821" Action="Warning" />
    <Rule Id="S1858" Action="Warning" />
    <Rule Id="S1994" Action="Warning" />
    <Rule Id="S2148" Action="Warning" />
    <Rule Id="S2156" Action="Warning" />
    <Rule Id="S2187" Action="None" />
    <Rule Id="S2327" Action="Warning" />
    <Rule Id="S2342" Action="Warning" />
    <Rule Id="S2360" Action="Warning" />
    <Rule Id="S2387" Action="Warning" />
    <Rule Id="S2437" Action="Warning" />
    <Rule Id="S2674" Action="Warning" />
    <Rule Id="S3011" Action="None" />
    <Rule Id="S3052" Action="Warning" />
    <Rule Id="S3253" Action="Warning" />
    <Rule Id="S3267" Action="None" />
    <Rule Id="S3433" Action="None" />
    <Rule Id="S3597" Action="None" />
    <Rule Id="S3598" Action="None" />
    <Rule Id="S3872" Action="Warning" />
    <Rule Id="S3874" Action="Warning" />
    <Rule Id="S3884" Action="None" />
    <Rule Id="S3889" Action="None" />
    <Rule Id="S3906" Action="Warning" />
    <Rule Id="S3908" Action="Warning" />
    <Rule Id="S3925" Action="None" />
    <Rule Id="S3926" Action="None" />
    <Rule Id="S3927" Action="None" />
    <Rule Id="S3937" Action="Warning" />
    <Rule Id="S3956" Action="Warning" />
    <Rule Id="S3962" Action="Warning" />
    <Rule Id="S3993" Action="Warning" />
    <Rule Id="S3998" Action="None" />
    <Rule Id="S4022" Action="Warning" />
    <Rule Id="S4023" Action="Warning" />
    <Rule Id="S4039" Action="Warning" />
    <Rule Id="S4060" Action="Warning" />
    <Rule Id="S4061" Action="None" />
    <Rule Id="S4159" Action="None" />
    <Rule Id="S4210" Action="None" />
    <Rule Id="S4211" Action="None" />
    <Rule Id="S4225" Action="Warning" />
    <Rule Id="S4260" Action="None" />
    <Rule Id="S4261" Action="Warning" />
    <Rule Id="S4277" Action="None" />
    <Rule Id="S4428" Action="None" />
    <Rule Id="S4433" Action="None" />
    <Rule Id="S4487" Action="None" />
    <Rule Id="S4583" Action="None" />
    <Rule Id="S5773" Action="None" />
    <Rule Id="S881" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1000" Action="None" />
    <Rule Id="SA1001" Action="None" />
    <Rule Id="SA1002" Action="None" />
    <Rule Id="SA1003" Action="None" />
    <Rule Id="SA1004" Action="None" />
    <Rule Id="SA1007" Action="None" />
    <Rule Id="SA1008" Action="None" />
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1010" Action="None" />
    <Rule Id="SA1011" Action="None" />
    <Rule Id="SA1012" Action="None" />
    <Rule Id="SA1013" Action="None" />
    <Rule Id="SA1014" Action="None" />
    <Rule Id="SA1015" Action="None" />
    <Rule Id="SA1016" Action="None" />
    <Rule Id="SA1017" Action="None" />
    <Rule Id="SA1018" Action="None" />
    <Rule Id="SA1019" Action="None" />
    <Rule Id="SA1020" Action="None" />
    <Rule Id="SA1021" Action="None" />
    <Rule Id="SA1022" Action="None" />
    <Rule Id="SA1023" Action="None" />
    <Rule Id="SA1024" Action="None" />
    <Rule Id="SA1025" Action="None" />
    <Rule Id="SA1026" Action="None" />
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1100" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1102" Action="None" />
    <Rule Id="SA1103" Action="None" />
    <Rule Id="SA1104" Action="None" />
    <Rule Id="SA1105" Action="None" />
    <Rule Id="SA1107" Action="None" />
    <Rule Id="SA1110" Action="None" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1112" Action="None" />
    <Rule Id="SA1113" Action="None" />
    <Rule Id="SA1114" Action="None" />
    <Rule Id="SA1115" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1119" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1123" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1125" Action="None" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1134" Action="None" />
    <Rule Id="SA1135" Action="None" />
    <Rule Id="SA1136" Action="None" />
    <Rule Id="SA1137" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1203" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1205" Action="None" />
    <Rule Id="SA1206" Action="None" />
    <Rule Id="SA1207" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1209" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1400" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1408" Action="None" />
    <Rule Id="SA1410" Action="None" />
    <Rule Id="SA1411" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1500" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1504" Action="None" />
    <Rule Id="SA1505" Action="None" />
    <Rule Id="SA1507" Action="None" />
    <Rule Id="SA1508" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1514" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1517" Action="None" />
    <Rule Id="SA1518" Action="None" />
    <Rule Id="SA1519" Action="None" />
    <Rule Id="SA1520" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>