@{
    ViewBag.Title = "Configuration Data returned from Spring Cloud Config Server";
}
<h2>@ViewBag.Title.</h2>

<h4>Property bar=@ViewBag.Bar</h4>
<h4>Property foo=@ViewBag.Foo</h4>
<h4>Property info.url=@ViewBag.Info_Url</h4>
<h4>Property info.description=@ViewBag.Info_Description</h4>
