@{
    ViewData["Title"] = "Configuration Data returned from Spring Cloud Config Server";
}

<h2>@ViewData["Title"]</h2>
<h4>Property bar=@ViewData["Bar"]</h4>
<h4>Property foo=@ViewData["Foo"]</h4>
<h4>Property info.url=@ViewData["Info.Url"]</h4>
<h4>Property info.description=@ViewData["Info.Description"]</h4>

