name: Component Build

on:
  workflow_call:
    inputs:
      component:
        required: true
        type: string
      OS:
        required: true
        type: string
      runDockerContainers:
        required: false
        type: boolean
        default: false

permissions:
  contents: read
  pull-requests: write

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: true
  SOLUTION_FILE: 'src/Steeltoe.${{ inputs.component }}.slnf'
  COMMON_TEST_ARGS: >-
    --no-build --configuration Release --collect "XPlat Code Coverage" --logger trx --results-directory ${{ github.workspace }}/TestOutput
    --settings coverlet.runsettings --blame-crash --blame-hang-timeout 3m

jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ${{ inputs.OS }}-latest

    services:
      eurekaServer:
        image: ${{ inputs.runDockerContainers && 'steeltoe.azurecr.io/eureka-server' || null }}
        ports:
        - 8761:8761
      configServer:
        image: ${{ inputs.runDockerContainers && 'steeltoe.azurecr.io/config-server' || null }}
        env:
          eureka.client.enabled: true
          eureka.client.serviceUrl.defaultZone: http://eurekaServer:8761/eureka
          eureka.instance.hostname: localhost
          eureka.instance.instanceId: localhost:configServer:8888
        ports:
        - 8888:8888

    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          8.0.*
          9.0.*
          10.0.*

    - name: Turn off dev certificate (macOS only)
      if: ${{ inputs.OS == 'macos' }}
      # Setting DOTNET_GENERATE_ASPNET_CERTIFICATE to "false" makes it easier to determine which test failed on macOS when it tried to start a web server with https enabled.
      # Without setting this, the following message appears in the logs:
      #   The application is trying to access the ASP.NET Core developer certificate key. A prompt might appear to ask for permission to access the key.
      #   When that happens, select 'Always Allow' to grant 'dotnet' access to the certificate key in the future.
      # and the test run fails, but without indicating which test caused it. By setting this, the causing test fails with the next message:
      #   Unable to configure HTTPS endpoint. No server certificate was specified, and the default developer certificate could not be found or is out of date.
      # To prevent the causing test from failing the test run, disable it on macOS using FactSkippedOnPlatform/TheorySkippedOnPlatform.
      shell: bash
      run: echo "DOTNET_GENERATE_ASPNET_CERTIFICATE=false" >> $GITHUB_ENV

    - name: Git checkout
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Restore packages
      run: dotnet restore ${{ env.SOLUTION_FILE }} /p:Configuration=Release --verbosity minimal

    - name: Build solution
      run: dotnet build ${{ env.SOLUTION_FILE }} --no-restore --configuration Release --verbosity minimal

    - name: Test
      run: dotnet test ${{ env.SOLUTION_FILE }} --filter "Category!=MemoryDumps" ${{ env.COMMON_TEST_ARGS }}

    - name: Test (memory dumps)
      if: ${{ inputs.component == 'Management' }}
      run: dotnet test src/Management/test/Endpoint.Test --filter "Category=MemoryDumps" ${{ env.COMMON_TEST_ARGS }}

    - name: Upload crash/hang dumps (on failure)
      if: ${{ failure() }}
      uses: actions/upload-artifact@v5
      with:
        name: FailedTestOutput-${{ inputs.OS }}-latest
        path: |
          ${{ github.workspace }}/TestOutput/**/*.dmp
          ${{ github.workspace }}/TestOutput/**/Sequence_*.xml
        if-no-files-found: ignore

    - name: Report test results
      if: ${{ !cancelled() }}
      uses: dorny/test-reporter@v2
      with:
        name: ${{ inputs.OS }}-latest test results
        reporter: dotnet-trx
        path: '**/*.trx'
        fail-on-empty: 'true'
        fail-on-error: 'false'
