name: Scan vulnerable dependencies

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - '[0-9]+.x'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: true
  SOLUTION_FILE: 'src/Steeltoe.All.sln'

jobs:
  scan:
    name: Scan
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
    - name: Setup .NET
      uses: fast-actions/setup-dotnet@db3799efeb074451b86d1f8d2ccb86070b2863db # v1.2.0
      with:
        sdk-version: 10.x
        runtime-version: |
          9.x
          8.x

    - name: Git checkout
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Report vulnerable dependencies
      run: dotnet restore ${{ env.SOLUTION_FILE }} --verbosity minimal /p:NuGetAudit=true /p:NuGetAuditMode=all /p:NuGetAuditLevel=low /p:TreatWarningsAsErrors=True
